@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/vollkorn/v30/0ybgGDoxxrvAnPhYGzMlQLzuMasz6Df2MHGeHmmZ.ttf) format('truetype');
}
